html{
    background-color: lavender;
}
body{
    margin: 0;
}
a{
    text-decoration: none;
}
.container{
    width: 1170px;
    padding: 0 20px;
    margin: 0 auto;
}
header{
    background-color: rgba(18, 18, 21,0.7);
    height: 75px;
    width:100%;
    position:fixed;
    top: 0px;
    left:0px;
    z-index: 10;
}
.header-logo{
    color: lavender;
    float: left;
    padding: 10px;
    font-size: 25px;
    font-family:'Times New Roman', Times, serif
}
.header-right {
    color:beige;
    float: right;
    padding: 5px;
    transition: all 0.5s;
    font-family:'Times New Roman', Times, serif
}
.header-right:hover{
    background-color: darkgray;
}
.login{
    line-height:65px;
    padding: 0 25px;
    color: beige;
    display: block;
    transition: all 0.5s;
}

.login-modal-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    /* display: none;を追加してください */
    display: none;
  }
  
  .modal {
    position: absolute;
    top: 20%;
    left: 34%;
    background-color: #e6ecf0;
    padding: 20px 0 40px;
    border-radius: 10px;
    width: 450px;
    height: auto;
    text-align: center;
  }
  
  .fa-times {
    position: absolute;
    top: 12px;
    right: 12px;
    color: rgba(128, 128, 128, 0.46);
    cursor: pointer;
  }
  
  #signup-form, #login-form {
    width: 100%;
  }
  
  #signup-form h2, #login-form h2 {
    color: #5f5d60;
    letter-spacing: 1px;
    margin-bottom: 40px;
  }
  
  #signup-form input, #login-form input {
    width: 320px;
    margin-bottom: 20px;
    font-size: 12px;
    padding: 12px 12px;
    border: 1px solid #d0d5d8;
    border-radius: 5px;
  }
  
  #submit-btn {
    display: inline-block;
    padding: 14px 140px;
    background-color: cadetblue;
    border: none;
    border-radius: 3px;
    color: white;
    margin: 10px auto;
    cursor: pointer;
  }  

.top-wrapper4{
    padding: 80px 0 10px 0;
}
.top-wrapper4 p{
    padding: 0px 0 10px 0;
    color:grey;
}
.text{
    float: left;
}
span{
 color:crimson   
}
.section-title{
    color:cadetblue;
    font-family:'Times New Roman', Times, serif;
    text-shadow: 0 0.05em 0.08em rgba(0,0,0,0.7);
}
.contact-form{
    margin-bottom: 200px;
}
.contact-form p{
    padding: 1px 0 0 0;
}
.text a:hover{
    opacity: 1;
    }
.text a:active{
    box-shadow: none;
    position: relative;
    top:7px;
}
.btn-login{
  border-radius: 5px;
  background-color:cadetblue;
  padding: 10px;
  text-decoration: none;
  color: white;
  margin-top: 0;
  margin-left: 500px;
  opacity: 0.8;
  box-shadow: 3px 5px lightgray;
}
.btn-entry{
    border-radius: 5px;
    background-color:cadetblue;
    padding: 10px;
    text-decoration: none;
    color:white;
    margin-top: 10px;
    opacity: 0.8;
    box-shadow: 3px 5px lightgray;

}
.contact-form h2{
    color:beige;
    text-shadow: 0 0.05em 0.08em rgba(0,0,0,0.7);
    margin-top: 50px;
    text-align: center;
}
.pay a{
    display: inline-block;
    color: #808080;
}
.pay label{
    color: #808080;
}
.ok{
    padding-top: 30px;
    margin-left: 150px;
}
.footer-wrapper{
    width: 100%;
}
.footer {
    width: 100%;
    background-color: rgba(18, 18, 21,0.7);
    height: 140px;
}  
  .footer-logo {
    color: lavender;
    float: left;
    padding: 10px;
    font-size: 25px;
    font-family:'Times New Roman', Times, serif
  }
  
  .footer-list {
    float: right;
    padding-right: 10px;
  }
  
  .footer-list li {
    padding-bottom: 10px;
    margin-right: 20px;
    list-style: none;
    font-family:'Lucida Console';
    color: beige;
    text-align: left;
  }
