html{
    background-color: lavender;
}
body{
    margin: 0;
}
a{
    text-decoration: none;
}
.container{
    width: 1170px;
    padding: 0 20px;
    margin: 0 auto;
}
header{
    background-color: rgba(18, 18, 21,0.7);
    height: 75px;
    width:100%;
    position:fixed;
    top: 0px;
    left:0px;
    z-index: 10;
}
.header-logo{
    color: lavender;
    float: left;
    padding: 10px;
    font-size: 25px;
    font-family:'Times New Roman', Times, serif
}
.header-right {
    color:beige;
    float: right;
    padding: 5px;
    transition: all 0.5s;
    font-family:'Times New Roman', Times, serif
}
.header-right:hover{
    background-color: darkgray;
}
.login{
    line-height:65px;
    padding: 0 25px;
    color: beige;
    display: block;
    transition: all 0.5s;
}

.login-modal-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: none;
  }
  
  .modal {
    position: absolute;
    top: 20%;
    left: 34%;
    background-color: #e6ecf0;
    padding: 20px 0 40px;
    border-radius: 10px;
    width: 450px;
    height: auto;
    text-align: center;
  }
  
  .fa-times {
    position: absolute;
    top: 12px;
    right: 12px;
    color: rgba(128, 128, 128, 0.46);
    cursor: pointer;
  }
  
  #signup-form, #login-form {
    width: 100%;
  }
  
  #signup-form h2, #login-form h2 {
    color: #5f5d60;
    letter-spacing: 1px;
    margin-bottom: 40px;
  }
  
  #signup-form input, #login-form input {
    width: 320px;
    margin-bottom: 20px;
    font-size: 12px;
    padding: 12px 12px;
    border: 1px solid #d0d5d8;
    border-radius: 5px;
  }
  
  #submit-btn {
    display: inline-block;
    padding: 14px 140px;
    background-color: cadetblue;
    border: none;
    border-radius: 3px;
    color: white;
    margin: 10px auto;
    cursor: pointer;
  }  

  
.top-wrapper3 p{
    padding: 80px 0 10px 0;
    color:#808080;
    }
        
#thumb_img {
        margin-top:2%;
        img {
          float:left;
          max-width: 32%;
          width: 32%;
          cursor: pointer;
          margin-right:2%;
          border:2px solid #eee;
          box-sizing:border-box;
          
          &.active{
            border:2px solid #cac6b8;
          }
          
          &:last-child{
            margin-right:0;
          }
        }
    }

.flex{
    display: flex;
    margin-bottom: 30px;
    margin-top: 50px;
}
.flex img{
    width: px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0.05em 1em rgba(0,0,0,0.7);

}
.flex .right{
    margin: 0 0 0 20px;
    padding: 0;
}
.flex .title{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 18px;
    color:dimgray;
    padding-right:120px;
}
.flex .text{
    margin: 0;
    padding: 10px;
}
.right li{
    color:lightslategray;
    padding-top: 10px;
    line-height: 2;
}

.right a{
    display: inline-block;
    color:white;
    background-color: cadetblue;
    width: 130px;
    height: 25px;
    border-radius: 5px;
    padding: 5px 1px 5px 25px;
    opacity: 0.8;
    box-shadow: 3px 5px lightgray;
}
.right a:hover{
    opacity: 1;
}
.right a:active{
    box-shadow: none;
    position: relative;
    top:7px;
}
.right h2{
    color:dimgrey
}

.right span {
    color:cadetblue;
    text-shadow: 0 0.05em 0.08em rgba(0,0,0,0.7);
    font-size: 25px;
}

.how-to h2{
    color: cadetblue;
    text-shadow: 0 0.05em 0.08em rgba(0,0,0,0.7);

}
.how-to ul{
    color: gray;
    margin-bottom: 50px;
}
.cosme-img{
    position: relative;
	width: 300px;
	height: 150px;
	margin: 0 2% 0 0;
	display: inline-block;
	border-radius: 12px;
	overflow: hidden;
	cursor: pointer;
    box-shadow: 0 0.05em 1em rgba(0,0,0,0.7);

}
.cosme-img img{
    position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
	display: inline-block;
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
    margin-bottom: 100px;
}
.cosme-img:hover img:nth-of-type(2) {
	opacity: 0;
}
overflow: hidden;
cursor: pointer;]
}
.footer-wrapper{
    width: 100%;
}
.footer {
    width: 100%;
    background-color: rgba(18, 18, 21,0.7);
    height: 140px;
}  
  .footer-logo {
    color: lavender;
    float: left;
    padding: 10px;
    font-size: 25px;
    font-family:'Times New Roman', Times, serif
  }
  
  .footer-list {
    float: right;
    padding-right: 10px;
  }
  
  .footer-list li {
    padding-bottom: 10px;
    margin-right: 20px;
    list-style: none;
    font-family:'Lucida Console';
    color: beige;
    text-align: left;
  }
